<section class="pokemon">
    <h2 class="pokemon-name">{{Pokemon.name}}</h2>
    <section class="flex-row justify center">
        {{#each pokemon as | pokemon |}}
        <section class="card">
            <header>{{image}}</header>
            <div class="card-body">
                <p>{{type}} {{type2}}</p>
                <p>{{height}} {{weight}}</p>
                <!-- <p>{{description}}</p> -->
            </div>
        </section>
    </section>
</section>