<main class="pro-body">
  <h2>Welcome, {{user_data.name}}!</h2>
  <article align="center" >
    <a href="/profile"><img src="/assets/teams.png"></a>
  </article>
</main>
<div class="pro-body">
  <span>
    <h3>Create a New Team!</h3>
    <button type="submit" class="button large" id="create-button">Create</button>
  </span>
  {{#if user_data.teams.length}}
  <table>
    <thead>
      <tr>
        <th width="200">Current Teams:</th>
        <th></th>
        <th width="150"></th>
      </tr>
    </thead>
    {{#each user_data.teams as |team|}}
    <tbody>
      <tr>
        <td>
          <h4><a href="/project/{{team.id}}">{{team.id}}</a></h4>
        </td>
        <td>
          {{> team}}
        </td>
        <td>
          <button class="add btn btn-sm button success" id="{{team.id}}">ADD</button>
          <button class="remove btn btn-sm btn-danger" id="{{team.id}}">DELETE</button>
        </td>
      </tr>  
    </tbody>
    {{/each}}
  </table>
  {{/if}}
</div>


